@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    list-style: none;
    text-decoration: none;
}
:root{
--bs-blackp: #020300;
--bs-orangep: #FF5404;
--bs-bluep: #0690E6;
}

.logo{
    color: white;
    font-size: 52px;
    font-family: 'Afacad Flux', sans-serif;
    font-weight: bold;
}
.navbar{
    background-color: var(--bs-blackp);
}
a{
   font-family: "open sans", sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.linkhover{
    color: white;
    font-size: 18px;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
}
.linkhover:hover{
    transition: color .2s ease-in-out;
    color: var(--bs-bluep);
}
.button{
    outline: none;
    border: none;
    background-color: var(--bs-orangep);
    color: #fff;
    padding: 10px 15px;
    border-radius: 2px;
}
  